h1{
    color:blue;
    text-align:center;
}
h2 {
    font-style: italic;
    text-align: center;
    color: teal;
  }
  p {
    color: gray;
    background-color: rgb(14, 59, 104);
  }
body{
    background-color: skyblue;
}